@import '../scss/variables';
@import '../scss/block/header';
@import '../scss/block/benefits';
@import '../scss/block/men';
@import '../scss/block/menu';
@import '../scss/block/products';
@import '../scss/block/product';
@import '../scss/block/sale';
@import '../scss/block/social-media';
@import '../scss/block/subscribe';
@import '../scss/block/registration';
@import '../scss/block/loyalty';
@import '../scss/block/cart-detail';
@import '../scss/block/cart-product';
@import '../scss/block/cart-products';
@import '../scss/block/total-price';
@import '../scss/block/product-detail-card';
@import '../scss/block/product-view';
@import '../scss/general';