.header {
  background-color: #222222;
  height: 75px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__icon {
  margin: 18px 0 0 0;
}

.header__ico {
  padding: 10px 0 0 33px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  background-color: transparent;
}

.header__menu-exit {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 17px;
  position: absolute;
  left: 175px;
}

.header__pop-up-menu {
  position: relative;
}

.header__menu {
  position: absolute;
  width: 232px;
  top: 65px;
  right: -200px;
  background: #FBFBFB;
  font-size: 14px;
  line-height: 17px;
  z-index: 1;
  display: none;
}

.header__menu-list {
  padding: 34px;
}

.header__title {
  padding-bottom: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.header__search-icon {
  margin: 18px 0 0 41px;
}

.header__button:hover + .header__menu,
.header__button:focus + .header__menu {
  display: block;
}

.header__menu:hover {
  display: block;
}

.benefits {
  background-color: #222222;
  height: 100%;
  padding: 103px 0 104px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item {
  text-align: center;
  width: 360px;
}

.benefit__heading {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 19px;
}

.benefit__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
  padding-top: 16px;
}

.men {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.men__img {
  max-height: 764px;
  width: 50%;
  background-image: #F1E4E6;
  background-color: #F1E4E6;
}

.men-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.men__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  padding-left: 16px;
}

.men__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

.men__pink {
  color: #F1607F;
}

.men__rectangle {
  background-color: #F1607F;
  width: 12px;
  height: 91px;
  margin-left: 40px;
}

.menu-sub-item__title {
  padding-bottom: 12px;
  text-transform: uppercase;
  color: #F16D7F;
}

.menu-sub-item__item {
  padding-bottom: 12px;
  color: #6F6E6E;
}

.menu-sub-item__list {
  padding-left: 20px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__heading {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  padding-top: 96px;
}

.products__about {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  padding-bottom: 33px;
  text-align: center;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1170px;
}

.products__item {
  max-width: 360px;
  padding: 15px;
}

.products__all {
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  background-color: #FBFBFB;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  margin: 49px 0 96px 0;
}

.product__card {
  background-color: #F8F8F8;
  padding: 25px 29px 20px 18px;
}

.product__brand {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: black;
  text-transform: uppercase;
}

.product__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-top: 13px;
}

.product__price {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-top: 18px;
}

.product__img {
  max-width: 360px;
  z-index: 0;
}

.product__hover {
  position: relative;
}

.product__hover::after {
  content: normal;
}

.product__hover:hover::after {
  content: '';
}

.product__hover::after {
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  background: rgba(0, 0, 0, 0.2);
  background-image: url(/img/add-to-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 65px 16px 0 16px;
}

.sale__title {
  visibility: hidden;
}

.sale__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale__item {
  margin: 15px;
  text-align: center;
}

.sale-women {
  background-image: url(../img/sale-woman.jpg);
}

.sale-men {
  background-image: url(../img/sale-man.jpg);
}

.sale-kids {
  background-image: url(../img/sale-kids.jpg);
}

.sale-women, .sale-men, .sale-kids {
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 360px;
  height: 260px;
}

.sale-accesories {
  background-image: url(../img/sale-accesories.jpg);
  background-repeat: no-repeat;
  width: 1140px;
  height: 180px;
}

.sale__text {
  padding-top: 105px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
  text-transform: uppercase;
}

.sale__subtitle {
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  color: #F1607F;
  text-transform: uppercase;
}

.social-media {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 200px 30px 200px;
}

.social-media__copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: normal;
  font-size: 16px;
  color: #FBFBFB;
  line-height: 19px;
}

.social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.social-media__item {
  padding-left: 7px;
}

.subscribe {
  background-image: url(../img/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 86px 0 126px 0;
}

.subscribe__about-us {
  width: 360px;
}

.subscribe__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  text-transform: uppercase;
}

.subscribe__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.subscribe__email {
  width: 323px;
  height: 50px;
  background: #E1E1E1;
  border-width: 0;
  border-radius: 25px 0 0 25px;
  padding-left: 22px;
}

.subscribe__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#subscribe__button {
  width: 100px;
  height: 50px;
  background: #F16D7F;
  border-width: 0;
  border-radius: 0 25px 25px 0;
  color: #FFFFFF;
}

.registration {
  width: 360px;
}

.registration__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 64px 0px 96px 0px;
}

.registration__headline {
  background-color: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20%;
}

.registration__heading {
  color: #F16D7F;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.registration__password-template {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 15px 0 39px 0;
}

.registration__button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  padding: 16px 29px;
}

.registration__button-text {
  color: #FBFBFB;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.registration__button-text:after {
  content: url(/img/join-now.svg);
  padding-left: 20px;
}

.registration__gender {
  margin: 33px 0 33px 0;
}

.registration__login-details,
.registration__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.registration__male,
.registration__female {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

#registration__radio-female {
  margin-left: 20px;
}

.registration__male,
.registration__female {
  margin-left: 10px;
}

.registration__first-name,
.registration__last-name,
.registration__email,
.registration__password {
  height: 45px;
  width: 343px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 17px;
  margin-top: 20px;
}

.loyalty {
  max-width: 650px;
  width: 50%;
}

.loyalty__heading {
  text-transform: uppercase;
}

.loyalty__text {
  margin: 22px 0 22px 0;
}

.loyalty__benefits-item {
  margin-bottom: 16px;
  background: url(../img/loyalty.svg) no-repeat;
  padding-left: 43px;
}

.loyalty__text,
.loyalty__benefits,
.loyalty__heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.cart-detail {
  width: 360px;
  padding-left: 128px;
}

.cart-detail__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.cart-detail__country, .cart-detail__state, .cart-detail__postcode {
  height: 45px;
  width: 343px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 17px;
  margin-top: 10px;
}

.cart-detail__accepted {
  width: 100px;
  height: 35px;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #A4A4A4;
  margin: 24px 0 58px 0;
}

.cart-product {
  margin-bottom: 40px;
}

.cart-product__img {
  width: 40%;
}

.cart-product__container {
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.cart-product__heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  padding-bottom: 42px;
}

.cart-product__detail {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 96px 0 130px 0;
}

.cart__headline {
  background-color: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20%;
}

.cart__heading {
  color: #F16D7F;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.cart-products {
  width: 650px;
}

.cart-products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 306px;
  -webkit-box-shadow: 17px 19px 24px rgba(133, 14, 14, 0.13);
          box-shadow: 17px 19px 24px rgba(133, 14, 14, 0.13);
}

.cart-products__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-products__clear, .cart-products__continue {
  width: 230px;
  height: 50px;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #A4A4A4;
}

.total-price {
  background-color: #F5F3F3;
  padding: 42px;
  text-align: end;
}

.total-price__heading {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
}

.total-price__subheading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  padding-top: 12px;
}

.total-price__buy {
  width: 270px;
  height: 50px;
  background-color: #F16D7F;
  color: #FBFBFB;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.total-price__line {
  color: #E2E2E2;
  margin: 17px 0 21px 0;
}

.sub-total,
.grand-price {
  padding-left: 25px;
}

.grand-price {
  color: #F1607F;
}

.product-detail-card {
  border: 1px solid #EAEAEA;
  max-width: 1140px;
  width: 75%;
  padding: 64px 0;
  position: absolute;
  top: 95%;
  background-color: #FBFBFB;
}

.product-detail-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-detail-card__heading {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-align: center;
  text-transform: uppercase;
}

.product-detail-card__subheading {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-align: center;
  text-transform: uppercase;
  padding: 28px 0 48px 0;
}

.product-detail-card__detail {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 60%;
}

.product-detail-card__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #EF5B70;
  padding: 32px 0 65px 0;
}

.product-detail-card__add-to-cart {
  content: url(/img/cart-pink.svg);
  background-color: #FBFBFB;
  width: 210px;
  height: 50px;
  border: 1px solid #FF6A6A;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.product-detail-card__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-detail-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  padding: 65px 0 54px 0;
}

.product-detail-card__item {
  padding-right: 23px;
}

.product-detail-card__item::after {
  content: url(/img/product-filter.svg);
  padding-left: 9px;
}

.product-detail-card__text::before {
  content: url(/img/cart-pink.svg);
  padding-right: 22px;
  size: 24px 24px;
}

.product-detail-card__line {
  width: 60%;
}

.product-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  background-color: #F7F7F7;
}

.product-view__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.product-view__highlite {
  background-color: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-view__heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.product-view__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.product-view__products {
  position: relative;
  margin: 650px 0 128px 0;
}

.container {
  max-width: 1601px;
  margin: auto 0;
}

body {
  font-family: Lato;
  font-style: normal;
}

@media (max-width: 1198px) {
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-detail {
    margin-top: 65px;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cart-detail__accepted {
    margin-bottom: 0;
  }
  .total-price {
    margin-left: 15px;
  }
  .cart-products {
    max-width: 734px;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .registration {
    margin-bottom: 40px;
  }
  .registration__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 8px 96px 8px;
  }
  .registration__headline {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
  .loyalty__text, .loyalty__benefits, .loyalty__heading {
    font-size: 16px;
    line-height: 19px;
  }
  .registration,
  .loyalty {
    max-width: 360px;
    width: 95vw;
  }
  .registration__first-name,
  .registration__last-name,
  .registration__email,
  .registration__password {
    width: 90%;
  }
  .cart-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-product__heading {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 25px;
  }
  .cart-product__detail {
    font-size: 14px;
    line-height: 17px;
  }
  .cart-products {
    width: 360px;
  }
  .cart-products__item {
    height: 188px;
  }
  .cart-products__clear, .cart-products__continue {
    font-size: 12px;
    line-height: 14px;
    width: 175px;
    height: 33px;
  }
  .total-price {
    margin: 48px 0 0 0;
  }
  .products__item {
    padding: 8px;
  }
}

@media (max-width: 1023px) and (min-width: 426px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 18px 0 18px;
  }
  .men__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 53px;
  }
  .men__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
  .sale__item {
    margin: 10px;
  }
  .sale-women,
  .sale-men,
  .sale-kids {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .benefits {
    padding: 0 0 64px 0;
  }
  .benefits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits__item {
    padding-top: 48px;
  }
  .social-media {
    padding: 23px 32px;
  }
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 55px 0 140px 0;
  }
  .registration__headline {
    padding-left: 16px;
  }
}

@media (max-width: 425px) {
  .header__person,
  .header__cart,
  .men__img {
    display: none;
  }
  .men {
    height: 363px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .men__title {
    font-size: 38px;
    line-height: 46px;
  }
  .men__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .men__rectangle {
    height: 61px;
    margin: 0;
  }
  .sale-accesories,
  .sale-men,
  .sale-kids,
  .sale-women {
    min-width: 233px;
    min-height: 167px;
  }
  .products__heading {
    padding-top: 64px;
  }
  .products__item {
    padding: 8px;
  }
  .product__img {
    width: 100%;
  }
  .benefits {
    padding: 0 13px 81px 13px;
  }
  .benefits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits__item {
    padding-top: 48px;
    width: 100%;
  }
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 55px 16px 109px 16px;
  }
  .subscribe__about-us {
    width: 100%;
  }
  .subscribe__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .subscribe__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
  }
  .subscribe__email {
    width: 70%;
    padding-left: 22px;
  }
  #subscribe__button {
    width: 30%;
  }
  .social-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 40px 0 8px 0;
  }
  .social-media__list {
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */