@import '../scss/variables';
@import '../scss/general';
@import '../scss/block/header';
@import '../scss/block/benefits';
@import '../scss/block/men';
@import '../scss/block/menu';
@import '../scss/block/product';
@import '../scss/block/sale';
@import '../scss/block/social-media';
@import '../scss/block/subscribe';