.registration__headline {
    background-color: #F8F3F4;
    height: 148px;
    display: flex;
    align-items: center;
    padding-left: 230px;
}

.registration__heading {
    color: #F16D7F;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}

.container-registration {
    display: flex;
    justify-content: space-between;
    padding: 64px 230px 96px;
}

.registration__login-details,
.registration__name {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.registration__male,
.registration__female {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.registration__password-template {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 15px 0 39px 0;
}

.registration__button {
    width: 167px;
    height: 50px;
    background-color: #F16D7F;
    color: var(--white);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 16px 29px;
}

.registration__gender {
    margin: 33px 0 33px 0;
}

#registration__radio-female {
    margin-left: 20px;
}

.registration__male,
.registration__female {
    margin-left: 10px;
}

.registration__first-name,
.registration__last-name,
.registration__email,
.registration__password {
    height: 45px;
    width: 360px;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    padding-left: 17px;
    margin-top: 20px;
}

.loyalty {
    padding-left: 128px;
}

.loyalty__heading {
    text-transform: uppercase;
}

.loyalty__text {
    margin: 22px 0 22px 0;
}

.loayalty__text,
.loyalty__benefits,
.loyalty__heading {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.loyalty__benefits-item {
    margin-bottom: 16px;
    background: url(../img/loyalty.svg) no-repeat;
    padding-left: 43px;
}



