.benefits {
    background-color: $black;
    height: 100%;
    padding: 103px 0 104px;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__item {
        text-align: center;
        width: 360px;
    }
}

.benefit {
    &__heading {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: $white;
        padding-top: 19px;
    }

    &__description {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: $white;
        padding-top: 16px;
    }
}