.benefits {
    background-color: var(--black);
    height: 341px;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__item {
        text-align: center;
        width: 360px;
        padding-top: 103px;
    }

    &__heading {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: var(--white);
        padding-top: 19px;
    }

    &__description {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: var(--white);
        padding-top: 16px;
    }
}