.cart {
    display: flex;
    justify-content: center;
    padding: 96px 0 130px 0;

    &__headline {
        background-color: $background-pink;
        height: 148px;
        display: flex;
        align-items: center;
        padding-left: 20%;
    }

    &__heading {
        color: #F16D7F;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
    }
}

.cart-products {
    width: 650px;

    &__item {
        display: flex;
        height: 306px;
        box-shadow: 17px 19px 24px rgba(133, 14, 14, 0.13);
    }

    &__action {
        display: flex;
        justify-content: space-between;
    }

    &__clear,
    &__continue {
        width: 230px;
        height: 50px;
        background-color: #FFFFFF;
        border: 1px solid #A4A4A4;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #A4A4A4;
    }
}