.header {
    background-color: $black;
    height: 75px;

    &__container {
        display: flex;
        justify-content: space-around;
    }

    &__icon {
        margin: 18px 0 0 0;
    }

    &__ico {
        padding: 10px 0 0 33px;
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__button {
        background-color: transparent;
    }

    &__menu-exit {
        align-self: flex-start;
        margin: 17px;
        position: absolute;
        left: 175px;
    }

    &__pop-up-menu {
        position: relative;
    }

    &__menu {
        position: absolute;
        width: 232px;
        top: 65px;
        right: -200px;
        background: $white;
        font-size: 14px;
        line-height: 17px;
        z-index: 1;
        display: none;
    }

    &__menu-list {
        padding: 34px;
    }

    &__title {
        padding-bottom: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__search-icon {
        margin: 18px 0 0 41px;
    }
}

.header__button:hover + .header__menu,
.header__button:focus + .header__menu {
    display: block;
}

.header__menu:hover {
    display: block;
}