.men {
    background-color: $pink;
    display: flex;

    &__img {
        max-height: 764px;
        width: 50%;
        background-image: $pink;
        background-color: $pink;
    }

    &-wrp {
        display: flex;
        align-items: center;
        padding: 0 0 0 92px;
    }

    &__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
    }

    &__subtitle {
        display: block;
        font-size: 37px;
        font-weight: 700;
        line-height: 44px;
    }

    &__pink {
        color: $dark-pink;
    }
}