.men {
    background-color: $pink;
    display: flex;

    &__img {
        max-height: 764px;
        width: 50%;
        background-image: $pink;
        background-color: $pink;
    }

    &-wrp {
        display: flex;
        align-items: center;
    }

    &__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
        padding-left: 16px;
    }

    &__subtitle {
        display: block;
        font-size: 37px;
        font-weight: 700;
        line-height: 44px;
    }

    &__pink {
        color: $dark-pink;
    }

    &__rectangle {
        background-color: $dark-pink;
        width: 12px;
        height: 91px;
        margin-left: 40px;
    }
}