.product {
    &__card {
        background-color: #F8F8F8;
        padding: 25px 29px 20px 18px;
    }

    &__brand {
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: black;
        text-transform: uppercase;
    }

    &__description {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        padding-top: 13px;
    }

    &__price {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
        padding-top: 18px;
    }

    &__img {
        max-width: 360px;
        z-index: 0;
    }

    &__hover {
        position: relative;
    }
}

.product__hover::after {
    content: normal;
}

.product__hover:hover::after {
    content: '';
}

.product__hover::after {
    width: 100%;
    height: 100%;
    transform: translate(-100%);
    background: rgba(0, 0, 0, 0.2);
    background-image: url(/img/add-to-cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}