.product-view {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #F7F7F7;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__highlite {
        background-color: $background-pink;
        height: 148px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__heading {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
        text-transform: uppercase;
    }

    &__categories {
        display: flex;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        text-transform: uppercase;
    }

    &__products {
        position: relative;
        margin: 650px 0 128px 0;
    }
}