.sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 65px 16px 0 16px;

    &__title {
        visibility: hidden;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__item {
        margin: 15px;
        text-align: center;
    }

    &-women {
        background-image: url(../img/sale-woman.jpg);
    }

    &-men {
        background-image: url(../img/sale-man.jpg);
    }

    &-kids {
        background-image: url(../img/sale-kids.jpg);
    }

    &-women,
    &-men,
    &-kids {
        background-repeat: no-repeat;
        flex-grow: 1;
        max-width: 360px;
        height: 260px;
    }

    &-accesories {
        background-image: url(../img/sale-accesories.jpg);
        background-repeat: no-repeat;
        width: 1140px;
        height: 180px;
    }

    &__text {
        padding-top: 105px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $white;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 900;
        line-height: 22px;
        color: $dark-pink;
        text-transform: uppercase;
    }
}