.social-media {
    background-color: $black;
    display: flex;
    justify-content: space-between;
    padding: 30px 200px 30px 200px;

    &__copyright {
        align-self: center;
        font-weight: normal;
        font-size: 16px;
        color: #FBFBFB;
        line-height: 19px;
    }

    &__list {
        display: flex;
        align-self: center;
    }

    &__item {
        padding-left: 7px;
    }
}